@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Playwrite+IE:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap');
body{
  background-image: linear-gradient(180deg,#454756 0%,#32303D 100%);
  background-attachment: fixed;
  font-family: arial;
  color: #827F9F !important;
}
h1{
  font-size: 3rem;
}
titly{
  font-size: 4rem;
}
decdiv{
   background: linear-gradient(0deg,#2e2f3b 0%,#525465 95%,#b1b4d0 96%);
  border-radius: 5px;
  border: 02px solid #000000;
  border-width: 02px 02px 02px 02px;
  padding: 5px;
  color: #827F9F;
  max-height:20px;
}
.card{
  background:#3E404D;
  border-radius: 0px;
  border: 1px solid #000000;
  color: #fff;
}
header{
  background-image: url(/manda-banner.png);
  height:500px;
  max-width:100%
}
